<%= provide(:title, "Fansubs") %>
<div class="row">
  <div class="col-md-12">
    <% @fansubs.each do |fansub| %>
      <div class="fansub">
        <h3><%= link_to fansub.name, edit_fansub_path(fansub) %></h3>
        <p>
          Homepage: <%= link_to fansub.homepage, fansub.homepage, target: "_blank" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
