<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Anime Vietsub Update", root_url, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
